#root {
  max-width: 1280px;
  text-align: center;
}
ul{
  list-style-type:none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav-link{
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
#chat{
  display: flex;
}
#friends{
  flex:2;
  border-style: solid;
  border-width: 3px;
  border-color: cornflowerblue;
}
#chatrecord{
  flex:8;
  border-style: solid;
  border-width: 3px;
  border-color: cornflowerblue;
}
#friends{
  background-color:white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(126, 163, 231);
  
}